<html>
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
        <script src="/javascripts/angularApp.js"></script>
        
        <title>MEAN Stack Tutorial</title>
        
        <style> .glyphicon-thumbs-up {cursor: pointer} </style>
    </head>
    
    <body ng-app="penguinNews">
        <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
          <ul class="nav navbar-nav">
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
         </ul>
        </nav>        
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ui-view></ui-view>
            </div>
        </div>        

    <script type="text/ng-template" id="/home.html">
        <div class="container page-header">
            <h1>Penguin News</h1>
        </div>
        
        <div class="container">
            <div ng-repeat="post in posts | orderBy: '-upvotes'">
                <span ng-click="incrementUpvotes(post)" class="glyphicon glyphicon-thumbs-up"></span>
                    {{post.upvotes}}
                <span style="font-size:20px; margin-left:10px;">
                    <a ng-show="post.link" href="{{post.link}}">
                        {{post.title}}
                    </a>
                    <span ng-hide="post.link">{{post.title}}</span>
                    <span><a href="#/posts/{{post._id}}">Comments</a></span>
                    <span ng-show="post.author">posted by <a>{{post.author}}</a></span>
                </span>
            </div>
        </div>
        
        <div class="container">
            <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top:30px;">
                <div class="form-group">
                    <input type="text" placeholder="Title" ng-model="title"/>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Link" ng-model="link"/>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
            <div ng-hide="isLoggedIn()">
                <h3>You need to <a href="/#/login">Login</a> or <a href="/#/register">Register</a>
                    before you can add a post</h3>
            </div>
        </div>

        </script>
        
        <!-- Post Template -->
        <script type="text/ng-template" id="/posts.html">
            <div class="container page-header">
                <h3>
                    <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
                    <span ng-hide="post.link">{{post.title}}</span>
                </h3>
            </div>
            
            <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
                <span class="glyphicon glyphicon-thumbs-up"
                    ng-click="incrementUpvotes(comment)"></span>
                {{comment.upvotes}} - by {{comment.author}}
                <span style="font-size:20px; margin-left:10px;">{{comment.body}}</span>
            </div>
            
            <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
                <h3> Add a new comment</h3>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Comment" ng-model="body"/>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
            <div ng-hide="isLoggedIn()">
               <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
            </div>
            
        </script>
        
        <script type="text/ng-template" id="/register.html">
            <div class="page-header container">
                <h1>Penguin News</h1>
            </div>
            
            <div ng-show="error" class="alert alert-danger row container">
                <span>{{error.message}}</span>
            </div>
            
            <form ng-submit="register()" style="margin-top:30px;">
                <h3> Register</h3>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password" ng-model="user.password"/>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            
        </script>
        
        <script type="text/ng-template" id="/login.html">
            <div class="page-header container">
                <h1>Penguin News</h1>
            </div>
            
            <div ng-show="error" class="alert alert-danger row container">
                <span>{{error.message}}</span>
            </div>
            
            <form ng-submit="logIn()" style="margin-top:30px;">
                <h3> Log In</h3>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="user.username"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password" ng-model="user.password"/>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            
        </script>        
        
    </body>
    
</html>