#map-container {
	height: 600px;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#sidebar {
    height: 300px;
    overflow-y: scroll;
}

label {
     vertical-align: left;
}
input[type="radio"] {
     float:left;
}

.radio {
    vertical-align: left;
}